<header class="header-topnav mat-elevation-z2 patient--landing---header--wrapper">
  <div class="container">
    <div class="topnav">
      <!-- App Logo -->
      <div class="topbar-branding">
        <img src="assets/images/arkenea/logo.png" alt="" class="app-logo logo--lg">
         <img src="assets/images/arkenea/logoxs.png" alt="small logo" class="logo--xs">
      </div>

      <ul class="menu" *ngIf="!layoutConf.isMobile">
        <li>
          <a >Customer Support</a>
        </li>
        <li>
          <a [routerLink]="'/sessions/doctor-signin'">I am a Doctor </a>
        </li>
        <li>
          <a [routerLink]="'/sessions/signin'">
            <button mat-stroked-button color="primary">Login</button>
          </a>
        </li>
        <li [routerLink]="'/sessions/signup'">
          <a>
            <button mat-raised-button color="primary">Sign Up</button>
          </a>
        </li>

      </ul>
      <!-- End Navigation -->




      <!-- Mobile screen menu toggle -->
      <button mat-icon-button class="mobile--toggle--btn" (click)="toggleSidenav()" *ngIf="layoutConf.isMobile">
        <mat-icon>menu</mat-icon>
      </button>



    </div>
  </div>
</header>