<section fxLayout="row wrap" class="patient--landing--wrapper">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">


    <section class="section--one" style="background-image: url('assets/images/arkenea/banner.png')">
      <div class="container">
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="45" fxFlex.xl="45">
            <h1 class="heading">
              One-on-one online
              with Doctor
            </h1>
            <p>
              Now you can talk to doctors via phone or video about your
              health care issues for a modest cost. We are providing a direct access to our medical professionals from
              all
              backgrounds without the need for healthcare insurance, and instead we will let you pay us using your
              healthcare savings dollars or via personal credit/debit cards. For
              information regarding our pricing, visit page pricing (<a>www.yourmd.online/pricing</a>). We can guide you
              to
              make
              better healthcare decisions and prevent unnecessary emergency or urgent care visits. So let's talk with
              our
              doctors for immediate help today.
            </p>
            <button mat-raised-button color="primary" class="connect--now--btn">
              <i class="icon--connect"></i>
              Connect Now
            </button>
            <button mat-raised-button color="primary">
              <i class="icon--our--pricing"></i>
              See Our Pricing
            </button>
          </div>
        </div>
      </div>
    </section>


    <section class="section--two grey--bg">
      <div class="container">
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <div class="history">
              <div class="box">
                <h4>12,460</h4>
                <p>Regisered Patients</p>
              </div>
              <div class="lines"></div>
              <div class="box">
                <h4>8,278</h4>
                <p>Online Doctors</p>
              </div>
              <div class="lines"></div>
              <div class="box">
                <h4>8,140</h4>
                <p>Patient Access</p>
              </div>
              <div class="lines"></div>
              <div class="box">
                <h4>45,764</h4>
                <p>satisfied customers</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="section--three grey--bg mb--100">
      <div class="container">
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="45" fxFlex.lg="45" fxFlex.xl="45">
            <img alt="" src="assets/images/arkenea/about-us.png">
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
            <div class="about--content">
              <h2 class="heading--two">
                About Your MD.Online lorem ipsum
                is simply dummy
              </h2>
              <p class="sub--heading">YourMD.Online is a subsidiary of United Medical Group (UMG) was
                founded in 2019. UMG has now designed and built a telemedicine electronic health record (EHR) system
                that
                is current, and more efficient than existing EHR in the marketplace . YourMD.Online was created by a
                doctor for the purpose of improving patient-doctor telemedicine encounters.</p>
              <p class="sub--heading">Patients can now receive much needed guidance, triage care for their pressing
                healthcare questions and
                basic needs when they need it the most. We are deploying an affordable care platform to mitigate ever
                growing healthcare costs. This is our leap toward a healthcare system that can be inclusive and provide
                a
                safe solution for communities deprived of medical professionals. </p>
              <p class="sub--heading">YourMD.Online stands apart from other telemedicine solutions
                in its approach by utilizing our growing network of United Medical Group providers from various
                specialties and also standardizing the cost of care with a catch all pricing model. We believe the
                future
                belongs to individuals who have full control over their health and the providers who prioritize their
                patients over bureaucracy. We echo United Medical Group's approach, that is, to simply focus on patient
                satisfaction and outcomes.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="section--four mb--100">
      <div class="container">
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <h2 class="heading--two text--uppercase text-center">
              HOW IT WORKS
            </h2>
            <p class="sub--heading text-center">
              Lorem Ipsum is simply dummy text of the printing typesetting industry
            </p>
          </div>
        </div>
        <div fxLayout="row wrap" class="works--box">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="31"
            class="work--steps text-center">
            <mat-card>
              <mat-card-header>
                <img alt="" src="assets/images/arkenea/howitworks-1.png">
              </mat-card-header>
              <mat-card-content>
                <h5>Search Doctors</h5>
                <p>Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="31"
            class="work--steps text-center">
            <mat-card>
              <mat-card-header>
                <img alt="" src="assets/images/arkenea/howitworks-2.png">
              </mat-card-header>
              <mat-card-content>
                <h5>book AN appointment</h5>
                <p>Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="31"
            class="work--steps text-center">
            <mat-card>
              <mat-card-header>
                <img alt="" src="assets/images/arkenea/howitworks-3.png">
              </mat-card-header>
              <mat-card-content>
                <h5>consultation</h5>
                <p>Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </section>

    <section class="section--five grey--bg mb--100 pt--100">
      <div class="container">
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <h2 class="heading--two text--uppercase text-center">
              Our specialist doctors
            </h2>
            <p class="sub--heading text-center">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s
            </p>
          </div>
        </div>
        <div fxLayout="row wrap" class="specialist--wrapper">
          <div fxFlex.xs="48" fxFlex.sm="48" fxFlex.md="23" fxFlex.lg="23" fxFlex.xl="23">
            <mat-card class="specialist--card">
              <mat-card-content>
                <img alt="" src="assets/images/arkenea/dentist.png">
                <h4>Doctors</h4>
              </mat-card-content>
              <mat-card-actions>
                <p class="m-0"><span>1279</span> Doctors</p>
              </mat-card-actions>
            </mat-card>
          </div>
          <div fxFlex.xs="48" fxFlex.sm="48" fxFlex.md="23" fxFlex.lg="23" fxFlex.xl="23">
            <mat-card class="specialist--card">
              <mat-card-content>
                <img alt="" src="assets/images/arkenea/urologist.png">
                <h4>Urologist</h4>
              </mat-card-content>
              <mat-card-actions>
                <p class="m-0"><span>1279</span> Doctors</p>
              </mat-card-actions>
            </mat-card>
          </div>
          <div fxFlex.xs="48" fxFlex.sm="48" fxFlex.md="23" fxFlex.lg="23" fxFlex.xl="23">
            <mat-card class="specialist--card">
              <mat-card-content>
                <img alt="" src="assets/images/arkenea/cardiologist.png">
                <h4>Cardiologist</h4>
              </mat-card-content>
              <mat-card-actions>
                <p class="m-0"><span>1279</span> Doctors </p>
              </mat-card-actions>
            </mat-card>
          </div>
          <div fxFlex.xs="48" fxFlex.sm="48" fxFlex.md="23" fxFlex.lg="23" fxFlex.xl="23">
            <mat-card class="specialist--card">
              <mat-card-content>
                <img alt="" src="assets/images/arkenea/neurologist.png">
                <h4>Neurologist</h4>
              </mat-card-content>
              <mat-card-actions>
                <p class="m-0"><span>1279</span> Doctors</p>
              </mat-card-actions>
            </mat-card>
          </div>
          <div fxFlex.xs="48" fxFlex.sm="48" fxFlex.md="23" fxFlex.lg="23" fxFlex.xl="23">
            <mat-card class="specialist--card">
              <mat-card-content>
                <img alt="" src="assets/images/arkenea/ophthalmologist.png">
                <h4>Ophthalmologist</h4>
              </mat-card-content>
              <mat-card-actions>
                <p class="m-0"><span>1279</span> Doctors </p>
              </mat-card-actions>
            </mat-card>
          </div>
          <div fxFlex.xs="48" fxFlex.sm="48" fxFlex.md="23" fxFlex.lg="23" fxFlex.xl="23">
            <mat-card class="specialist--card">
              <mat-card-content>
                <img alt="" src="assets/images/arkenea/family-care.png">
                <h4>Family Care</h4>
              </mat-card-content>
              <mat-card-actions>
                <p class="m-0"><span>1279</span> Doctors</p>
              </mat-card-actions>
            </mat-card>
          </div>
          <div fxFlex.xs="48" fxFlex.sm="48" fxFlex.md="23" fxFlex.lg="23" fxFlex.xl="23">
            <mat-card class="specialist--card">
              <mat-card-content>
                <img alt="" src="assets/images/arkenea/otolaryngologists.png">
                <h4>Otolaryngologists</h4>
              </mat-card-content>
              <mat-card-actions>
                <p class="m-0"><span>1279</span> Doctors</p>
              </mat-card-actions>
            </mat-card>
          </div>
          <div fxFlex.xs="48" fxFlex.sm="48" fxFlex.md="23" fxFlex.lg="23" fxFlex.xl="23">
            <mat-card class="specialist--card">
              <mat-card-content>
                <img alt="" src="assets/images/arkenea/pediatrician.png">
                <h4>Pediatrician</h4>
              </mat-card-content>
              <mat-card-actions>
                <p class="m-0"><span>1279</span> Doctors</p>
              </mat-card-actions>
            </mat-card>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="text-center">
            <button mat-raised-button color="primary" class="mt-1"> Find Specialist </button>
          </div>
        </div>

      </div>
    </section>


    <section class="section--six mb--100">
      <div class="container">
        <div fxLayout="row wrap" class="align--item--center">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <h2 class="heading--two ">
              Schedule an Appointment
              with Doctors
            </h2>
            <p class="sub--heading">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply
              dummy text of the printing and typesetting industry.
            </p>

            <button mat-raised-button color="primary" class="mb-1"> Book an appointment </button>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <img alt="" src="assets/images/arkenea/schedule-an-appointment.png">
          </div>
        </div>


      </div>
    </section>

    <footer class="main--footer">
      <div class="container">

        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="35" fxFlex.md="35" fxFlex.lg="30" fxFlex.xl="30">
            <h6 class="xs--brdr">Your MD.Online</h6>
            <ul class="links p-0 m-0">
              <li><a>About Us</a></li>
              <li><a> Testimonials</a></li>
              <li><a>Contact Us</a></li>
              <li><a>Support Center</a></li>
              <li><a>Site Map</a> </li>
            </ul>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="30" fxFlex.md="35" fxFlex.lg="50" fxFlex.xl="50">
            <h6>Support</h6>
            <ul class="links m-0 p-0">
              <li><a>FAQs</a> </li>
              <li><a>Terms & conditions</a></li>
              <li><a>Privacy Policy</a></li>
              <li><a>Cookie Policy</a></li>
            </ul>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="35" fxFlex.md="30" fxFlex.lg="20" fxFlex.xl="20">
            <h6>Connect with Us</h6>
            <ul class="social m-0 p-0">
              <li>
                <a>
                  <img src="assets/images/arkenea/facebook.png" title="Facebook">
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/images/arkenea/twitter.png" title="Twitter">
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/images/arkenea/linked-in.png" title="LinkedIn">
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/images/arkenea/reddit.png" title="Reddit">
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </footer>

    <footer class="copyright--footer">
        <img src="assets/images/arkenea/footerlogo.png" title="Footer Logo">
        <p class="mb-0">Powered by United Medical Group</p>
    </footer>















  </div>
</section>